.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
allocated/
to_be_allocated/
data/
credentials.json
scripts/archived/
scripts/developing/
guides/pq_allocation.docx
guides/pq_allocation_process_files
guides/pq_allocation_protocol.docx
guides/draft_answer.docx
presentation/
*.log